<h1>Sites#new</h1>
<p>Find me in app/views/sites/new.html.erb</p>

<div class="well well-sm">
  <%= form_for :site, url: { action: :create } do |f| %>
    <div class="form-group">
      <%= f.label :url %>
      <div class="form-control-group">
        <%= f.text_field :url, class: 'form-control col-percent-40' %>
        <span class="required">※必須</span>
      </div>
    </div>
    <div class="form-group">
      <%= submit_tag '作成', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
